<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Beertender!</title>
	<!-- Bootstrap -->
	<link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
</head>
<body style="padding-bottom: 70px">


<div class='container-fluid'>
	<div class="jumbotron" style="padding: 0.5em 0.6em;">
		<div class='text-center'>
			<h1>About Us</h1>
		</div>
		<p>
			Curious about who created this majestic piece of software? Look no further!
		</p>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<div class='list-group' style="padding-top: 70px;">
			<!-- Luis -->
			<div class="list-group-item">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="64" height="64"
							 src="{{ url_for("static", filename="images/luis.jpg") }}"
							 alt="da pythonista">
					</a>

					<div class="media-body">
						<h4 class="media-heading">Luis Pérez</h4>

						<p class="list-group-item-text">
							Luis is the team's Python guru. For the time being, he's also acting as a designer&mdash;and
							as you can see, he's not particularly good at it.
							<br><br>
							Taken, sorry!
						</p>
					</div>
				</div>
			</div>

			<!-- Ethan -->
			<div class="list-group-item">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="64" height="64"
							 src="{{ url_for("static", filename="images/ethan.jpg") }}"
							 alt="da founder">
					</a>

					<div class="media-body">
						<h4 class="media-heading">Ethan Shernan</h4>

						<p class="list-group-item-text">
							Ethan is the brains behind this project. He's currently in charge of the ML backend for the
							site.
						</p>
					</div>
				</div>
			</div>

			<!-- Stephen -->
			<div class="list-group-item">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="64" height="64"
							 src="{{ url_for("static", filename="images/stephen.jpg") }}"
							 alt="da guy">
					</a>

					<div class="media-body">
						<h4 class="media-heading">Stephen Csukas</h4>

						<p class="list-group-item-text">
							Stephen does stuff. Sometimes.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'navbar.html' %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename="js/jquery-1.11.1.min.js") }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
</body>
</html>