<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Beertender!</title>
	<!-- Bootstrap -->
	<link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
</head>
<body>


<div class="jumbotron">
	<h1>About Us</h1>

	<p>
		Curious about who created this majestic piece of software? Look no further!
	</p>
</div>

{% include 'navbar.html' %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename="js/jquery-1.11.1.min.js") }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
</body>
</html>