<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bartender!</title>
	<!-- Bootstrap -->
	<link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
</head>
<body style="padding-bottom: 70px">

<div class='container-fluid'>
	<div class="jumbotron" style="padding: 0.5em 0.6em;">
		<div class='text-center'>
			<h1>F.A.Q.</h1>

			<p>
				Have questions? Too bad, we probably won't answer them.
			</p>
		</div>
	</div>


	<div class="row" style="padding: 10px;">
		<div class="col-md-8 col-md-offset-2">
			<div class='list-group'>

				<div class="list-group-item">
					<h2 id="q1" class="list-group-item-heading text-center">Who are you guys?</h2>

					<p class="list-group-item-text">
						We're a trio of CS nerds from GT. &#8531; of us have currently graduated and are grinding out a
						living
						in the private sector. The other &#8532; are hiding from the horrors of the real world in the
						warm embrace of academia.
					</p>
				</div>


				<div class='list-group-item'>
					<h2 id="q2" class="list-group-item-heading text-center">Why'd you make this?</h2>

					<p class="list-group-item-text">
						Beer and ML. Why not?
					</p>
				</div>


				<div class='list-group-item '>
					<h2 id="q3" class="list-group-item-heading text-center">What technologies did you use?</h2>

					<p class="list-group-item-text">
						Magic. And a little bit of unicorn blood.
						<br><br>
						All jokes aside, we used:
					</p>
					<ul>
						<li>Flask (web microframework)</li>
						<li>Jinja (templating)</li>
						<li>Azure (hosting and ML)</li>
						<li>Bootstrap + jQuery (shininess)</li>

					</ul>
				</div>

				<div class="list-group-item">
					<h2 id="q4" class="list-group-item-heading text-center">Why doesn't Stephen have a girl in his
																			picture?</h2>

					<p class="list-group-item-text">
						Short answer: we think he's gay.
						<br><br>
						Long answer: he's definitely gay.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'navbar.html' %}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename="js/jquery-1.11.1.min.js") }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
</body>
</html>