<!-- TODO: Template-ize this shit -->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<!-- Hamburger -->
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">BeerRecomender</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://bartenderhelper.azurewebsites.net">Help Us!</a></li>
				<li><a href="/faq">F.A.Q.</a></li>
				<li><a href="/about">About Us</a></li>
			</ul>
		</div>
	</div>
</nav>